---
import { getCollection } from 'astro:content'
import BlogListItem from '../../components/blog-list-item.astro'
import BaseLayout from '../../layouts/base-layout.astro'

export const getStaticPaths = async () => {
  const allPosts = await getCollection('blog')

  const uniqueTags = [...new Set(allPosts.flatMap((post) => post.data.tags ?? []))]

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags?.includes(tag))
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<BaseLayout title={tag ?? ''} description={`Posts tagged with ${tag}`}>
  <h2>Posts tagged with "{tag}" <span class="total">{posts.length}</span></h2>
  <ul class="posts">
    {posts.map((post) => <BlogListItem post={post} />)}
  </ul>
</BaseLayout>

<style>
  .posts {
    display: grid;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .total {
    padding-left: 0.5rem;
    font-size: 0.8em;
    color: var(--secondary);
  }
</style>
