---
import BlueskyIcon from '../assets/icons/bluesky.svg'
import GitHubIcon from '../assets/icons/github.svg'

const today = new Date()
---

<footer>
  &copy; {today.getFullYear()} Phill Johntony
  <div class="social-links">
    <a href="https://bsky.app/profile/philljohntony.com">
      <span class="sr-only">Follow me on Bluesky</span>
      <BlueskyIcon width={16} height={16} fill="currentColor" />
    </a>
    <a href="https://github.com/pdjohntony">
      <span class="sr-only">Go to my GitHub profile</span>
      <GitHubIcon width={16} height={16} fill="currentColor" />
    </a>
  </div>
</footer>
