---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '')
const subpath = pathname.match(/[^/]+/gu)
const FIRST_SUBPATH_INDEX = 0
const firstSubpath = subpath?.at(FIRST_SUBPATH_INDEX) ?? ''
const isActive = href === pathname || href === `/${firstSubpath}`
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
